:root {
  --darker: #0f0d0e;
  --dark: #231f20;
  --lighter: #fdecf1;
  --light: #e7dcdf;
  --accent-dark: #faf2c8;
  --accent-light: #ed203d;

  --background-color: var(--darker);
  --foreground-color: var(--dark);
  --text-color: var(--lighter);
  --accent-color: var(--accent-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--light);
    --foreground-color: var(--lighter);
    --text-color: var(--darker);
    --accent-color: var(--accent-light);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  height: 100%;
}

body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

section {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

button {
  background-color: var(--accent-color);
  color: var(--dark);
  aspect-ratio: 1 / 1;
  min-width: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  font-weight: 700;
  transition: all 120ms ease-in;
}

button:is(:hover, :focus-visible) {
  scale: 1.1;
}

button:focus-visible {
  outline: 0.1rem solid var(--accent-color);
  outline-offset: 0.1rem;
}

button:not(.loading):disabled {
  background-color: var(--dark);
  color: var(--darker);
  cursor: not-allowed;
  scale: 1;
}

button.loading:disabled {
  background-color: var(--accent-color);
  color: var(--dark);
  opacity: 0.85;
}

.loader {
  width: 1.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.2rem solid;
  border-color: #000 #0000 #0000;
  animation: loading 1s infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
